@page "/userlist"
@using Realm.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Authorization
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>User List</h3>
<p>Current User ID: @currentUserId</p>
<hr/>
<a class="btn btn-primary" href="/newuser"><i class="fa fa-plus"></i> Create New User</a>
<hr/>
@if (users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>ID</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>
                        @if (IsCurrentUser(user.Id))
                        {
                            <a class="btn btn-primary" href="/Identity/Account/Manage"><i class="fa fa-pencil"></i></a>
                        }
                        <button class="btn btn-danger" @onclick="() => DeleteUser(user.Id)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AppUser> users;
    private string currentUserId;
    protected override async Task OnInitializedAsync()
    {
        users = await UserManager.Users.ToListAsync();
        currentUserId = GetCurrentUserId();
    }

    private async Task DeleteUser(string userId)
    {
        var user = await UserManager.FindByIdAsync(userId);

        if (user != null)
        {
            var result = await UserManager.DeleteAsync(user);

            if (result.Succeeded)
            {
                users.Remove(user);
            }
            else
            {
                // Handle user deletion failure
            }
        }
    }


    private string GetCurrentUserId()
    {
        var authStateTask = AuthenticationStateProvider.GetAuthenticationStateAsync();
        var authState = authStateTask.GetAwaiter().GetResult();
        
        var userIdClaim = authState.User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier");
        if(userIdClaim != null)
        {
            return userIdClaim.Value;
        }
        return null; 
    }

    private bool IsCurrentUser(string userId)
    {
        return userId == currentUserId;
    }
}
